<h1>Add Music</h1>
<form action="/music" method="POST">
    <label for="">Artist: </label>
    <input type="text" name="name">

    <label for="">Song Name: </label>
    <input type="text" name="sound_name">

    <label for="">Image: </label>
    <input type="text" name="img_url">

    <label for="">URL: </label>
    <input type="text" name="url">

    <button>Add Song</button>
</form>