<section class="all-music-suggestions">
        <% music_suggestions.each do |music| %>
            <article class= "music_suggestions">
                <h2><%= music['name'] %></h2>
                <h3><%= music['sound_name'] %></h3>

                 <form action="/music" method="POST">
                    <input type="hidden" name="name" value="<%= music['name'] %>">
                    <input type="hidden" name="sound_name" value="<%= music['sound_name'] %>">
                    <button> Add Song to Play list</button>
                </form>
                 
            </article>
        <% end %>
    </section>